.embed-container{
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto !important;
}

.embed-container iframe,
.embed-container object,
.embed-container embed{
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p{
  text-align: center;
}